<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body onload="hideAll()">
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>
    <main>
        <div class="container mt-4">
            <h1>Articles: </h1>
            <table class="table mt-3" th:id="allTypesTable">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Category</th>
                    <th scope="col">Views</th>
                    <th scope="col">Author</th>
                    <th scope="col">Created On</th>
                    <th scope="col">Actions</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="article, iter : ${articles}">
                    <tr>
                        <td scope="col" th:text="${iter.index + 1}"></td>
                        <td scope="col" th:text="${article.title}"></td>
                        <td scope="col" th:text="${article.articleCategory}"></td>
                        <td scope="col" th:text="${article.views}"></td>
                        <td scope="col" th:text="${article.author.username}"></td>
                        <td scope="col" th:text="${article.createdOn}"></td>
                        <td scope="col"><a class="btn btn-info"  th:href="@{/articles/details/{id}(id=${article.id})}" th:text="Read"></a></td>
                        <td scope="col"><a class="btn btn-info"  th:href="@{/articles/edit/{id}(id=${article.id})}" th:text="Edit"></a></td>
                        <td scope="col"><a class="btn btn-info"  th:href="@{/articles/delete/{id}(id=${article.id})}" th:text="Delete"></a></td>
                    </tr>
                </th:block>
                </tbody>
            </table>


            </form>
        </div>
    </main>
</div>
</body>
</html>
