<th:block th:fragment="article-form" th:object="${articleBindingModel}" xmlns:th="http://www.w3.org/1999/xhtml">


    <div class="form-group">
        <label for="add-product-title" class="font-weight-bold">Title</label>
        <input type="text" class="form-control text-center" id="add-product-title" th:field="*{title}" name="title"
               th:styleappend="${#fields.hasErrors('title')} ? 'border-color: red'">
    </div>



    <div class="form-group">
        <label for="add-product-content" class="font-weight-bold">Content</label>
        <textarea name="content" id="add-product-content" th:field="*{content}" cols="41" rows="5"
                  th:styleappend="${#fields.hasErrors('content')} ? 'border-color: red'"></textarea>
    </div>



    <div class="form-group">
        <label for="add-article-category">Category</label>
        <select id="add-article-category" class="form-control" th:field="*{articleCategory}"
                th:styleappend="${#fields.hasErrors('articleCategory')} ? 'border-color: red'">
            <th:block th:each="articleCategory : ${categories}">
                <option th:value="${articleCategory}" th:text="${articleCategory}"></option>
            </th:block>
        </select>

    </div>



    <div class="form-group">
        <label for="add-article-date">Date Created</label>
        <input type="date" id="add-article-date" class="form-control" th:field="*{createdOn}" th:value="*{createdOn}"
               th:styleappend="${#fields.hasErrors('createdOn')} ? 'border-color: red'">
    </div>


    <hr class="hr-2 bg-dark w-25">
    <div class="button-holder d-flex justify-content-center">
        <button type="submit" class="btn btn-success">Add Article</button>
    </div>
</th:block>
